#naglowek {
    background-color: gray;
}

nav {
    background-color: red;
}
 
.glowna {
    flex: 2;
    background-color: green;
}

.prawa {
    flex: 1;
    background-color: yellow;
}

footer {
    background-color: pink;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    margin: 0;
}
section {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    width: 33%;
}

a {
    color: black;
}

a:hover {
    color: pink;
}

li:hover {
    background-color: blue;
}

main {
    display: flex;
}